.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  height: 70px;
  padding: 0 24px;

  background-color: #0f172a; 
  color: white;
}


.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo {
  height: 55px;   
        
  width: auto;
  object-fit: contain;
  opacity: 0.95;
}


.logo {
  filter: drop-shadow(0 0 2px rgba(255,255,255,0.15));
}


.navlinks {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}


.navlinks a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}


.navlinks a.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}


.navlinks a:hover {
  opacity: 0.85;
}
